/**
 * CiviCRM style overrides for WordPress.
 *
 * Implements more appropriate and consistent styling for the CiviCRM admin menu
 * as well as other miscellaneous fixes.
 *
 * @package WordPress
 * @subpackage CiviCRM_Admin_Utilities
 */



/*
--------------------------------------------------------------------------------
CiviCRM admin menu style overrides
--------------------------------------------------------------------------------
*/

body #civicrm-menu
{
	height: 32px;
}

body #civicrm-menu li.menumain
{
	line-height: 2.5;
	padding: 0 10px;
	height: 32px !important;
	outline: none;
}

html>body #root-menu-div div.outerbox
{
	margin-top: 0;
}

body #civicrm-menu,
body #root-menu-div ul,
#sort_name_navigation
{
	font-size: 12px;
}

body #root-menu-div .menu-ul li
{
	padding: 3px 0 3px 0;
}

body #root-menu-div .menu-ul li.menu-separator
{
	padding-top: 0;
	padding-bottom: 0;
}

body #root-menu-div div.menu-item
{
	padding: 1px 0 1px 4px;
	margin-right: 30px;
}

body #civicrm-menu li#crm-qsearch
{
	height: 30px;
}

body #civicrm-menu li#crm-qsearch > form
{
	margin-top: 0;
}

html>body #root-menu-div div.outerbox:first-child
{
	margin-top: 0;
}

body #civicrm-menu li#crm-qsearch.activetarget
{
	background-color: #000;
}




/*
--------------------------------------------------------------------------------
Misc CiviCRM style fixes for WordPress
--------------------------------------------------------------------------------
*/

#crm-container, .crm-container
{
	padding-top: 12px;
}

.crm-queue-runner-form-block
{
	margin-top: 20px;
	margin-right: 20px;
}
