/**
 * CiviCRM style overrides for WordPress when the KAM Extension is present.
 *
 * Implements more appropriate and consistent styling for the CiviCRM admin menu
 * when the uk.squiffle.kam Extension is present.
 *
 * @package WordPress
 * @subpackage CiviCRM_Admin_Utilities
 */



/* When menu in content area, give page some room */
body #crm-container > #civicrm-menu-nav
{
	margin-bottom: 12px;
}

/* Sub-arrows could do with a slight tweak */
body #civicrm-menu li li .sub-arrow:before
{
	margin-top: 2px;
}

/* Transparent background for toggle button */
body #civicrm-menu-nav .crm-menubar-toggle-btn
{
	background: transparent;
}

/* Don't show bottom border */
@media (min-width: 768px) {
	body > #civicrm-menu-nav #civicrm-menu {
		border-bottom: none;
	}
}

/* Modify the Access Keys popover */
body #crmAccessKeyList span
{
    background: #e5e5e5;
    border: 1px groove #eee;
    color: #006799;
    border-radius: 3px;
}



/*
--------------------------------------------------------------------------------
Default Colours
--------------------------------------------------------------------------------
*/

body > #civicrm-menu-nav #civicrm-menu.sm-civicrm
{
	background-color: #23282d;
}

body > #civicrm-menu-nav #civicrm-menu.sm-civicrm a
{
	color: #eee;
}

body > #civicrm-menu-nav #civicrm-menu .crm-quickSearchField,
body > #civicrm-menu-nav #civicrm-menu.sm-civicrm ul li a,
body > #civicrm-menu-nav #civicrm-menu.sm-civicrm li .sub-arrow:before,
body > #civicrm-menu-nav #civicrm-menu.sm-civicrm li a.highlighted .sub-arrow:before,
body > #civicrm-menu-nav #civicrm-menu.sm-civicrm li li .sub-arrow:before,
body > #civicrm-menu-nav #civicrm-menu.sm-civicrm li li .sub-arrow:after,
body > #civicrm-menu-nav #civicrm-menu #crm-menubar-toggle-position a i
{
	color: #b4b9be;
}

body > #civicrm-menu-nav #civicrm-menu .crm-quickSearchField:hover,
body > #civicrm-menu-nav #civicrm-menu.sm-civicrm ul li a:hover,
body > #civicrm-menu-nav #civicrm-menu.sm-civicrm ul li a:hover .sub-arrow:before,
body > #civicrm-menu-nav #civicrm-menu.sm-civicrm ul li a:hover .sub-arrow:after,
body > #civicrm-menu-nav #civicrm-menu #crm-menubar-toggle-position a:hover i
{
	color: #00b9eb;
}

/* Remove hover behaviour */
body > #civicrm-menu-nav #civicrm-menu.sm-civicrm ul,
body > #civicrm-menu-nav #civicrm-menu li a.highlighted,
body > #civicrm-menu-nav #civicrm-menu.sm-civicrm li a:focus,
body > #civicrm-menu-nav #civicrm-menu.sm-civicrm li a:hover
{
	background-color: #32373c;
}

body > #civicrm-menu-nav #civicrm-menu.sm-civicrm li.menu-separator,
body > #civicrm-menu-nav #civicrm-menu.sm-civicrm li.crm-menu-border-top,
body > #civicrm-menu-nav #civicrm-menu li.crm-menu-border-bottom:not(:last-child),
body > #civicrm-menu-nav #civicrm-menu li:not(.crm-menu-border-bottom) + li.crm-menu-border-top
{
	border-color: #000;
	border-width: 1px;
}



/*
--------------------------------------------------------------------------------
WordPress Admin Themes support
--------------------------------------------------------------------------------
*/

/* light */
body.admin-color-light > #civicrm-menu-nav #civicrm-menu.sm-civicrm
{
	background: #e5e5e5;
}

body.admin-color-light > #civicrm-menu-nav #civicrm-menu.sm-civicrm a
{
	color: #333;
}

body.admin-color-light > #civicrm-menu-nav #civicrm-menu .crm-quickSearchField,
body.admin-color-light > #civicrm-menu-nav #civicrm-menu.sm-civicrm ul li a,
body.admin-color-light > #civicrm-menu-nav #civicrm-menu.sm-civicrm li li .sub-arrow:before,
body.admin-color-light > #civicrm-menu-nav #civicrm-menu.sm-civicrm li li .sub-arrow:after,
body.admin-color-light > #civicrm-menu-nav #civicrm-menu.sm-civicrm li a.highlighted .sub-arrow:before,
body.admin-color-light > #civicrm-menu-nav #civicrm-menu #crm-menubar-toggle-position a i
{
	color: #686868;
}

body.admin-color-light > #civicrm-menu-nav #civicrm-menu .crm-quickSearchField:hover,
body.admin-color-light > #civicrm-menu-nav #civicrm-menu.sm-civicrm ul li a:hover,
body.admin-color-light > #civicrm-menu-nav #civicrm-menu.sm-civicrm ul li a:hover .sub-arrow:before,
body.admin-color-light > #civicrm-menu-nav #civicrm-menu.sm-civicrm ul li a:hover .sub-arrow:after,
body.admin-color-light > #civicrm-menu-nav #civicrm-menu #crm-menubar-toggle-position a:hover i
{
	color: #04a4cc;
}

/* Remove hover behaviour */
body.admin-color-light > #civicrm-menu-nav #civicrm-menu.sm-civicrm ul,
body.admin-color-light > #civicrm-menu-nav #civicrm-menu li a.highlighted,
body.admin-color-light > #civicrm-menu-nav #civicrm-menu.sm-civicrm li a:focus,
body.admin-color-light > #civicrm-menu-nav #civicrm-menu.sm-civicrm li a:hover
{
	color: #04a4cc;
	background-color: #fff;
}

body.admin-color-light > #civicrm-menu-nav #civicrm-menu.sm-civicrm li.menu-separator,
body.admin-color-light > #civicrm-menu-nav #civicrm-menu.sm-civicrm li.crm-menu-border-top,
body.admin-color-light > #civicrm-menu-nav #civicrm-menu li.crm-menu-border-bottom:not(:last-child),
body.admin-color-light > #civicrm-menu-nav #civicrm-menu li:not(.crm-menu-border-bottom) + li.crm-menu-border-top
{
	border-color: #ededed;
}



/* blue */
body.admin-color-blue > #civicrm-menu-nav #civicrm-menu.sm-civicrm
{
	background: #52accc;
}

body.admin-color-blue > #civicrm-menu-nav #civicrm-menu.sm-civicrm a
{
	color: #fff;
}

body.admin-color-blue > #civicrm-menu-nav #civicrm-menu .crm-quickSearchField,
body.admin-color-blue > #civicrm-menu-nav #civicrm-menu.sm-civicrm ul li a,
body.admin-color-blue > #civicrm-menu-nav #civicrm-menu.sm-civicrm li li .sub-arrow:before,
body.admin-color-blue > #civicrm-menu-nav #civicrm-menu.sm-civicrm li li .sub-arrow:after,
body.admin-color-blue > #civicrm-menu-nav #civicrm-menu #crm-menubar-toggle-position a i
{
	color: #e2ecf1;
}

body.admin-color-blue > #civicrm-menu-nav #civicrm-menu .crm-quickSearchField:hover,
body.admin-color-blue > #civicrm-menu-nav #civicrm-menu.sm-civicrm ul li a:hover,
body.admin-color-blue > #civicrm-menu-nav #civicrm-menu.sm-civicrm ul li a:hover .sub-arrow:before,
body.admin-color-blue > #civicrm-menu-nav #civicrm-menu.sm-civicrm ul li a:hover .sub-arrow:after,
body.admin-color-blue > #civicrm-menu-nav #civicrm-menu #crm-menubar-toggle-position a:hover i
{
	color: #fff;
}

/* Remove hover behaviour */
body.admin-color-blue > #civicrm-menu-nav #civicrm-menu.sm-civicrm ul,
body.admin-color-blue > #civicrm-menu-nav #civicrm-menu li a.highlighted,
body.admin-color-blue > #civicrm-menu-nav #civicrm-menu.sm-civicrm li a:focus,
body.admin-color-blue > #civicrm-menu-nav #civicrm-menu.sm-civicrm li a:hover
{
	color: #fff;
	background-color: #4796b3;
}

body.admin-color-blue > #civicrm-menu-nav #civicrm-menu.sm-civicrm li.menu-separator,
body.admin-color-blue > #civicrm-menu-nav #civicrm-menu.sm-civicrm li.crm-menu-border-top,
body.admin-color-blue > #civicrm-menu-nav #civicrm-menu li.crm-menu-border-bottom:not(:last-child),
body.admin-color-blue > #civicrm-menu-nav #civicrm-menu li:not(.crm-menu-border-bottom) + li.crm-menu-border-top
{
	border-color: #3b85a0;
}



/* coffee */
body.admin-color-coffee > #civicrm-menu-nav #civicrm-menu.sm-civicrm
{
	background: #59524c;
}

body.admin-color-coffee > #civicrm-menu-nav #civicrm-menu.sm-civicrm a
{
	 color: #fff;
}

body.admin-color-coffee > #civicrm-menu-nav #civicrm-menu .crm-quickSearchField,
body.admin-color-coffee > #civicrm-menu-nav #civicrm-menu.sm-civicrm ul li a,
body.admin-color-coffee > #civicrm-menu-nav #civicrm-menu.sm-civicrm li li .sub-arrow:before,
body.admin-color-coffee > #civicrm-menu-nav #civicrm-menu.sm-civicrm li li .sub-arrow:after,
body.admin-color-coffee > #civicrm-menu-nav #civicrm-menu #crm-menubar-toggle-position a i
{
	color: #cdcbc9;
}

body.admin-color-coffee > #civicrm-menu-nav #civicrm-menu .crm-quickSearchField:hover,
body.admin-color-coffee > #civicrm-menu-nav #civicrm-menu.sm-civicrm ul li a:hover,
body.admin-color-coffee > #civicrm-menu-nav #civicrm-menu.sm-civicrm ul li a:hover .sub-arrow:before,
body.admin-color-coffee > #civicrm-menu-nav #civicrm-menu.sm-civicrm ul li a:hover .sub-arrow:after,
body.admin-color-coffee > #civicrm-menu-nav #civicrm-menu #crm-menubar-toggle-position a:hover i
{
	color: #c7a589;
}

/* Remove hover behaviour */
body.admin-color-coffee > #civicrm-menu-nav #civicrm-menu.sm-civicrm ul,
body.admin-color-coffee > #civicrm-menu-nav #civicrm-menu li a.highlighted,
body.admin-color-coffee > #civicrm-menu-nav #civicrm-menu.sm-civicrm li a:focus,
body.admin-color-coffee > #civicrm-menu-nav #civicrm-menu.sm-civicrm li a:hover
{
	color: #c7a589;
	background-color: #46403c;
}

body.admin-color-coffee > #civicrm-menu-nav #civicrm-menu.sm-civicrm li.menu-separator,
body.admin-color-coffee > #civicrm-menu-nav #civicrm-menu.sm-civicrm li.crm-menu-border-top,
body.admin-color-coffee > #civicrm-menu-nav #civicrm-menu li.crm-menu-border-bottom:not(:last-child),
body.admin-color-coffee > #civicrm-menu-nav #civicrm-menu li:not(.crm-menu-border-bottom) + li.crm-menu-border-top
{
	border-color: #2f2b28;
}



/* ectoplasm */
body.admin-color-ectoplasm > #civicrm-menu-nav #civicrm-menu.sm-civicrm
{
	 background: #523f6d;
}

body.admin-color-ectoplasm > #civicrm-menu-nav #civicrm-menu.sm-civicrm a
{
	 color: #fff;
}

body.admin-color-ectoplasm > #civicrm-menu-nav #civicrm-menu .crm-quickSearchField,
body.admin-color-ectoplasm > #civicrm-menu-nav #civicrm-menu.sm-civicrm ul li a,
body.admin-color-ectoplasm > #civicrm-menu-nav #civicrm-menu.sm-civicrm li li .sub-arrow:before,
body.admin-color-ectoplasm > #civicrm-menu-nav #civicrm-menu.sm-civicrm li li .sub-arrow:after,
body.admin-color-ectoplasm > #civicrm-menu-nav #civicrm-menu #crm-menubar-toggle-position a i
{
	color: #cbc5d3;
}

body.admin-color-ectoplasm > #civicrm-menu-nav #civicrm-menu .crm-quickSearchField:hover,
body.admin-color-ectoplasm > #civicrm-menu-nav #civicrm-menu.sm-civicrm ul li a:hover,
body.admin-color-ectoplasm > #civicrm-menu-nav #civicrm-menu.sm-civicrm ul li a:hover .sub-arrow:before,
body.admin-color-ectoplasm > #civicrm-menu-nav #civicrm-menu.sm-civicrm ul li a:hover .sub-arrow:after,
body.admin-color-ectoplasm > #civicrm-menu-nav #civicrm-menu #crm-menubar-toggle-position a:hover i
{
	color: #a3b745;
}

/* Remove hover behaviour */
body.admin-color-ectoplasm > #civicrm-menu-nav #civicrm-menu.sm-civicrm ul,
body.admin-color-ectoplasm > #civicrm-menu-nav #civicrm-menu li a.highlighted,
body.admin-color-ectoplasm > #civicrm-menu-nav #civicrm-menu.sm-civicrm li a:focus,
body.admin-color-ectoplasm > #civicrm-menu-nav #civicrm-menu.sm-civicrm li a:hover
{
	color: #a3b745;
	background-color: #413256;
}

body.admin-color-ectoplasm > #civicrm-menu-nav #civicrm-menu.sm-civicrm li.menu-separator,
body.admin-color-ectoplasm > #civicrm-menu-nav #civicrm-menu.sm-civicrm li.crm-menu-border-top,
body.admin-color-ectoplasm > #civicrm-menu-nav #civicrm-menu li.crm-menu-border-bottom:not(:last-child),
body.admin-color-ectoplasm > #civicrm-menu-nav #civicrm-menu li:not(.crm-menu-border-bottom) + li.crm-menu-border-top
{
	border-color: #2f2b28;
}



/* midnight */
body.admin-color-midnight > #civicrm-menu-nav #civicrm-menu.sm-civicrm
{
	 background: #363b3f;
}

body.admin-color-midnight > #civicrm-menu-nav #civicrm-menu.sm-civicrm a
{
	 color: #fff;
}

body.admin-color-midnight > #civicrm-menu-nav #civicrm-menu .crm-quickSearchField,
body.admin-color-midnight > #civicrm-menu-nav #civicrm-menu.sm-civicrm ul li a,
body.admin-color-midnight > #civicrm-menu-nav #civicrm-menu.sm-civicrm li li .sub-arrow:before,
body.admin-color-midnight > #civicrm-menu-nav #civicrm-menu.sm-civicrm li li .sub-arrow:after,
body.admin-color-midnight > #civicrm-menu-nav #civicrm-menu #crm-menubar-toggle-position a i
{
	color: #cbc5d3;
}

body.admin-color-midnight > #civicrm-menu-nav #civicrm-menu .crm-quickSearchField:hover,
body.admin-color-midnight > #civicrm-menu-nav #civicrm-menu.sm-civicrm ul li a:hover,
body.admin-color-midnight > #civicrm-menu-nav #civicrm-menu.sm-civicrm ul li a:hover .sub-arrow:before,
body.admin-color-midnight > #civicrm-menu-nav #civicrm-menu.sm-civicrm ul li a:hover .sub-arrow:after,
body.admin-color-midnight > #civicrm-menu-nav #civicrm-menu #crm-menubar-toggle-position a:hover i
{
	color: #e14d43;
}

/* Remove hover behaviour */
body.admin-color-midnight > #civicrm-menu-nav #civicrm-menu.sm-civicrm ul,
body.admin-color-midnight > #civicrm-menu-nav #civicrm-menu li a.highlighted,
body.admin-color-midnight > #civicrm-menu-nav #civicrm-menu.sm-civicrm li a:focus,
body.admin-color-midnight > #civicrm-menu-nav #civicrm-menu.sm-civicrm li a:hover
{
	color: #e14d43;
	background-color: #26292c;
}

body.admin-color-midnight > #civicrm-menu-nav #civicrm-menu.sm-civicrm li.menu-separator,
body.admin-color-midnight > #civicrm-menu-nav #civicrm-menu.sm-civicrm li.crm-menu-border-top,
body.admin-color-midnight > #civicrm-menu-nav #civicrm-menu li.crm-menu-border-bottom:not(:last-child),
body.admin-color-midnight > #civicrm-menu-nav #civicrm-menu li:not(.crm-menu-border-bottom) + li.crm-menu-border-top
{
	border-color: #000;
}



/* ocean */
body.admin-color-ocean > #civicrm-menu-nav #civicrm-menu.sm-civicrm
{
	 background: #738e96;
}

body.admin-color-ocean > #civicrm-menu-nav #civicrm-menu.sm-civicrm a
{
	 color: #fff;
}

body.admin-color-ocean > #civicrm-menu-nav #civicrm-menu .crm-quickSearchField,
body.admin-color-ocean > #civicrm-menu-nav #civicrm-menu.sm-civicrm ul li a,
body.admin-color-ocean > #civicrm-menu-nav #civicrm-menu.sm-civicrm li li .sub-arrow:before,
body.admin-color-ocean > #civicrm-menu-nav #civicrm-menu.sm-civicrm li li .sub-arrow:after,
body.admin-color-ocean > #civicrm-menu-nav #civicrm-menu #crm-menubar-toggle-position a i
{
	color: #d5dde0;
}

body.admin-color-ocean > #civicrm-menu-nav #civicrm-menu .crm-quickSearchField:hover,
body.admin-color-ocean > #civicrm-menu-nav #civicrm-menu.sm-civicrm ul li a:hover,
body.admin-color-ocean > #civicrm-menu-nav #civicrm-menu.sm-civicrm ul li a:hover .sub-arrow:before,
body.admin-color-ocean > #civicrm-menu-nav #civicrm-menu.sm-civicrm ul li a:hover .sub-arrow:after,
body.admin-color-ocean > #civicrm-menu-nav #civicrm-menu #crm-menubar-toggle-position a:hover i
{
	color: #9ebaa0;
}

/* Remove hover behaviour */
body.admin-color-ocean > #civicrm-menu-nav #civicrm-menu.sm-civicrm ul,
body.admin-color-ocean > #civicrm-menu-nav #civicrm-menu li a.highlighted,
body.admin-color-ocean > #civicrm-menu-nav #civicrm-menu.sm-civicrm li a:focus,
body.admin-color-ocean > #civicrm-menu-nav #civicrm-menu.sm-civicrm li a:hover
{
	color: #9ebaa0;
	background-color: #627c83;
}

body.admin-color-ocean > #civicrm-menu-nav #civicrm-menu.sm-civicrm li.menu-separator,
body.admin-color-ocean > #civicrm-menu-nav #civicrm-menu.sm-civicrm li.crm-menu-border-top,
body.admin-color-ocean > #civicrm-menu-nav #civicrm-menu li.crm-menu-border-bottom:not(:last-child),
body.admin-color-ocean > #civicrm-menu-nav #civicrm-menu li:not(.crm-menu-border-bottom) + li.crm-menu-border-top
{
	border-color: #556c72;
}



/* sunrise */
body.admin-color-sunrise > #civicrm-menu-nav #civicrm-menu.sm-civicrm
{
	background: #cf4944;
}

body.admin-color-sunrise > #civicrm-menu-nav #civicrm-menu.sm-civicrm a
{
	 color: #fff;
}

body.admin-color-sunrise > #civicrm-menu-nav #civicrm-menu .crm-quickSearchField,
body.admin-color-sunrise > #civicrm-menu-nav #civicrm-menu.sm-civicrm ul li a,
body.admin-color-sunrise > #civicrm-menu-nav #civicrm-menu.sm-civicrm li li .sub-arrow:before,
body.admin-color-sunrise > #civicrm-menu-nav #civicrm-menu.sm-civicrm li li .sub-arrow:after,
body.admin-color-sunrise > #civicrm-menu-nav #civicrm-menu #crm-menubar-toggle-position a i
{
	color: #f1c8c7;
}

body.admin-color-sunrise > #civicrm-menu-nav #civicrm-menu .crm-quickSearchField:hover,
body.admin-color-sunrise > #civicrm-menu-nav #civicrm-menu.sm-civicrm ul li a:hover,
body.admin-color-sunrise > #civicrm-menu-nav #civicrm-menu.sm-civicrm ul li a:hover .sub-arrow:before,
body.admin-color-sunrise > #civicrm-menu-nav #civicrm-menu.sm-civicrm ul li a:hover .sub-arrow:after,
body.admin-color-sunrise > #civicrm-menu-nav #civicrm-menu #crm-menubar-toggle-position a:hover i
{
	color: #f7e3d3;
}

/* Remove hover behaviour */
body.admin-color-sunrise > #civicrm-menu-nav #civicrm-menu.sm-civicrm ul,
body.admin-color-sunrise > #civicrm-menu-nav #civicrm-menu li a.highlighted,
body.admin-color-sunrise > #civicrm-menu-nav #civicrm-menu.sm-civicrm li a:focus,
body.admin-color-sunrise > #civicrm-menu-nav #civicrm-menu.sm-civicrm li a:hover
{
	color: #f7e3d3;
	background-color: #be3631;
}

body.admin-color-sunrise > #civicrm-menu-nav #civicrm-menu.sm-civicrm li.menu-separator,
body.admin-color-sunrise > #civicrm-menu-nav #civicrm-menu.sm-civicrm li.crm-menu-border-top,
body.admin-color-sunrise > #civicrm-menu-nav #civicrm-menu li.crm-menu-border-bottom:not(:last-child),
body.admin-color-sunrise > #civicrm-menu-nav #civicrm-menu li:not(.crm-menu-border-bottom) + li.crm-menu-border-top
{
	border-color: #a12c26;
}



